{% extends "blog/base.html" %}
{% block content %}
	<h1> About This Blog</h1>
	<p>
		Stranger Things is an American science fiction, drama-horror web television series created by the Duffer Brothers and released on Netflix. This blog provides summaries of all episodes.
	</p>
	<p>
		The Duffer Brothers developed the series as a mix of investigative drama alongside supernatural elements portrayed with horror, science fiction and childlike sensibilities. Setting the series in the 1980s, the Duffer Brothers infused references to the pop culture of that decade while several themes and directorial aspects were inspired primarily by the works of Steven Spielberg, John Carpenter, and Stephen King, as well as anime and video games. They also took inspiration from strange experiments that took place during the Cold War and real world conspiracy theories involving secret government experiments.
	</p>
{% endblock content %}
